[BASIC]
good-names=
    e,  # (exception) as e
    f,  # (file) as f
    k,  # for k, v in
    v,  # for k, v in

[MASTER]
disable=
	C0114,  # missing-module-docstring
	C0115,  # missing-class-docstring
	C0116,  # missing-function-docstring
	W0703,  # broad-except
	R0902,  # too-many-instance-attributes
	R0903,  # too-few-public-methods
