[BASIC]
good-names=
    e,  # (exception) as e
    f,  # (file) as f
    k,  # for k, v in
    v,  # for k, v in
    dt,  # datetime

[MASTER]
disable=
	C0103,  # invalid-name
	C0114,  # missing-module-docstring
	C0115,  # missing-class-docstring
	C0116,  # missing-function-docstring
	C0209,  # consider-using-f-string
	C0415,  # import-outside-toplevel
	W0511,  # fixme
	W0703,  # broad-except
	W0707,  # raise-missing-from
	R0801,  # duplicate-code
	R0901,  # too-many-ancestors
	R0902,  # too-many-instance-attributes
	R0903,  # too-few-public-methods
	R0913,  # too-many-arguments
	E1136,  # unsubscriptable-object (false positive with python 3.9)

[FORMAT]
max-line-length=79

[DESIGN]
max-parents=13

[TYPECHECK]
generated-members=REQUEST,acl_users,aq_parent,"[a-zA-Z]+_set{1,2}",save,delete
